# To generate all settings:
#  pylint --generate-rcfile > pylintrc
#

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,a,b,c,d,x,y,z


[MESSAGES CONTROL]

disable=locally-disabled,locally-enabled


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=79


[REPORTS]

#reports=no
